@{
    ViewData["Title"] = "Quem Somos";
}

<div class="text-center">
    <h1 class="display-4">Quem Somos </h1>
    <div class="row g-0 text-center">
  <div class="col-sm-6 col-md-8">
    <img src="https://www.bikemarket.pt/storage/posts//1644327435_1.jpg"class="img-fluid" alt="equipeNoPalco">
  </div>
  <div class="col-6 col-md-4">Somos fans da Equipe <strong>Bahrain Victorious</strong> e das increveis bikes <strong>Merida</strong>.
    <p>Como Diz o próprio nome da Equipe "Victorius", é uma equipe vitoriosa. Com diversas vitórias nas principais corridas mundiais contando no seu currículo.</p>
    <p>Contando com um time de Excelecia, o time de ciclistas veem liderando o campeonato mundial de ciclismo. </p>
    <p><strong>Merida</strong> é uma bicicleta leve, muito rigida extremamente confiável. Qualquer amador em posse de uma bike dessa vai parecer um profissional montando em uma verdadeira puro sangue das corridas</p>
    <p><Strong>Merida</Strong> Sonho de muitos e realidade de poucos. Contam com modelo de entrada até modelo de competição profissionais.</p>
    <p>A <strong>Merida</strong> não está sendo vendida em todos os paises o que a torna mais rara.</p>
  </div>
</div>
</div>
