@{
    ViewData["Title"] = "Imagens";
}

    <div class="text-center">
            <h1 class="display-4">Imagens</h1>
            <div class="container">
                <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active" style="width: ;">
                <img src="https://bahraincyclingteam.com/wp-content/uploads/2023/01/CL_ALTEA22_1012_trainingride-21-scaled.jpg" class=" d-block w-100" alt="Bahrain">
                </div>
                <div class="carousel-item">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/2021_Bahrain_Victorious_%282021_Tour_of_Slovenia%2C_stage_1%29.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://cdn.mos.cms.futurecdn.net/w8euk2pu9sjdH5gtybunJL.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="https://cdn.mos.cms.futurecdn.net/9ZmBYtFeEr9fHbkrobYUeD.jpg"  class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
    </div>
</div>